
<div class="background-cover"></div>
<div id="wrap" class="wrap-nicescroll">  
    <!-- TOP NAVIGATION -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                    <ul class="nav top-nav nav-left" id="menu-left-top-bar">
                        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">CALENDAR</a></li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <ul class="nav justify-content-end top-nav nav-right" id="menu-not-login-top-bar">
                        <li id="nav-menu-item-100"
                            class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                            <a class="nav-link" href="#">
                                LOGOUT
                            </a>
                        </li>
                        <li id="nav-menu-item-100"
                            class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>
                            </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN NAVIGATION -->
    <div id="header">
        <div class="container clearfix">

            <div class="row">
                <div class="logo col-md-4">
                    <a href="/">
                        <img src="images/logo.png" alt="" class="logo-default lazyloaded">
                    </a>
                </div>
                <nav class="navigation col-md-8 hidden-xs">
                    <div class="header-menu">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">How it works?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/noti">Notification</a>
                            </li>
                            <li class="nav-item menu-item-pq">
                                <a class="nav-link add_noti-btn" id="add_noti-btn" href="/add">Add Notification</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav class="navigation_mobile navigation_mobile_main">
                    <div class="infocenter_mobile_click infocenter_mobile_click_close">
                        Go to ...
                    </div>
                    <ul>
                        <li>
                            <a href="/about">How it works?</a>
                        </li>
                        <li>
                            <a href="">Notification</a>
                        </li>
                        <li>
                            <a href="#">Calendar</a>
                        </li>
                        <li class="menu-item-pq">
                            <a id="mobile_add_noti-btn" class="add_noti-btn" href="/add">Add Notification</a>
                        </li>
                    </ul>
                </nav>
            </div>
            </nav>
        </div>
    </div>
    <!-- BREADCRUMBS -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 row">
                    <h1 class="col-md-6">How It Works</h1>
                    <div class="crumbs col-md-6">
                        <a href="/">Home</a>
                        <span class="crumbs-span">/</span>
                        <span class="current">How It Works</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instruction-box">
        <div class="container">
            <div class="row">
                <div class="ins-step col-md-4">
                    <img src="images/step1.png" alt="step1">
                    <div>1. Create An Account</div>
                </div>
                <div class="ins-step col-md-4">
                    <img src="images/step2.png" alt="step2">
                    <div>2. Post Your Question</div>
                </div>
                <div class="ins-step col-md-4">
                    <img src="images/step3.png" alt="step3">
                    <div>3. Find Your Solution</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer author-info">
        <div class="contact-box">
            <h3>Contact</h3>
            <ul class="list-group">
                <li class="list-group-item">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> 
                19, Nguyen Huu Tho, Tan Phong, district 7, HCM city
                </li>
                <li class="list-group-item">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                </svg>
                (84) 0123 456 78
                </li>
                <li class="list-group-item">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg> 
                519h0098@student.tdtu.edu.vn
            </ul>
        </div>
        <div class="copyright">
            <div class="copyright-pannel">Copyright 2020 by </div>
            <div class="copyright-author"> 
                DeveLOVEbug <img src="images/team-icon.png" alt="team-icon"> 
            </div>
        </div>
    </footer>
</div>

