<!DOCTYPE html>
<html>

<head>
  <%- include("./partials/head") %>
</head>

<body>
    <div class="background-cover"></div>
    <div id="wrap" class="wrap-nicescroll">  
        <!-- TOP NAVIGATION -->
        <%- include("./partials/topnav") %>
        <!-- MAIN NAVIGATION -->
        <%- include("./partials/header") %>
        <!-- BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 row">
                        <h1 class="col-md-6">How It Works</h1>
                        <div class="crumbs col-md-6">
                            <a href="/">Home</a>
                            <span class="crumbs-span">/</span>
                            <span class="current">How It Works</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="instruction-box">
            <div class="container">
                <div class="row">
                    <div class="ins-step col-md-4">
                        <img src="images/step1.png" alt="step1">
                        <div>1. Share your status</div>
                    </div>
                    <div class="ins-step col-md-4">
                        <img src="images/step2.png" alt="step2">
                        <div>2. Post comment/question </div>
                    </div>
                    <div class="ins-step col-md-4">
                        <img src="images/step3.png" alt="step3">
                        <div>3. Find Your Solution</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WEB INFORMATION -->
        <%- include("./partials/footer") %>
    </div>
</body>

</html>
<!-- SOCKET IO -->
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- JS ONLY -->
<script type="text/javascript" src="javascripts/main.js"></script>