<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/fontawesome-free-5.15.1-web/css/all.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <title>Develovebug</title>
</head>

<body>
    <div class="background-cover"></div>
    <div class="hidden">
        <div class="wrapper form-div col-md-4 offset-md-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="close-icon bi bi-x" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div class="title-text">
                <div class="title join">Join Class</div>
                <div class="title create">Create Class</div>

            </div>
            <div class="form-container">
                <div class="slide-controls">
                    <input type="radio" name="slide" id="join" checked>
                    <input type="radio" name="slide" id="create">
                    <label for="join" class="slide join">Join</label>
                    <label for="create" class="slide create">Create</label>
                    <div class="slider-tab"></div>
                </div>
                <div class="form-inner">
                    <form action="" class="join" method="POST">
                        <div class="field">
                            <p>Ask your teacher for class code</p>
                            <input type="text" placeholder="Class Code" name="code" required>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" name="join-class-btn" value="Join">
                        </div>
                    </form>
                    <form action="" class="create" method="POST">
                        <div class="field">
                            <input type="text" name="subject" placeholder="Subject" required>
                        </div>
                        <div class="field">
                            <input type="text" name="semester" placeholder="Semester">
                        </div>
                        <div class="field">
                            <input type="text" name="room" placeholder="Room">
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" name="create-class-btn" value="Create">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Class Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="create">
                        <div class="field">
                            <p><label for="subject">Subject</label></p>
                            <p><input type="text" name="subject" placeholder="Subject"
                                    value="<?php echo $activeClassInfo['subject']?>"></p>
                        </div>
                        <div class="field">
                            <p><label for="semester">Semester</label></p>
                            <p><input type="text" name="semester" placeholder="Semester"
                                    value="<?php echo $activeClassInfo['semester']?>"></p>
                        </div>
                        <div class="field">
                            <p><label for="room">Room</label></p>
                            <p><input type="text" name="room" placeholder="Room"
                                    value="<?php echo $activeClassInfo['room']?>"></p>
                        </div>
                        <div class="field">
                            <p><label for="room">Code</label></p>
                            <p><input type="text" name="room" placeholder="Room" readonly=readonly
                                    value="<?php echo $activeClassInfo['code']?>"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" name="edit-class-btn" class="btn btn-primary">Save change</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Class Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <p>Are you sure about that?</p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="confirm" name="delete-btn" class="btn btn-primary"
                            data-dismiss="model">Confirm</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop1" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Invite people</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="">
                    <div class="modal-body">
                        Code : <i>
                            <?php echo $activeClassInfo['code']; ?>
                        </i>
                        <p>Or send mail to invite, type email below</p>
                        <input type="text" class="invited-email" name="invited-email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="add-student-btn">Save change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="wrap" class="wrap-nicescroll">

        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                        <ul class="nav top-nav nav-left" id="menu-left-top-bar">
                            <li class="nav-item"><a class="nav-link" href="#">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">CALENDAR</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <ul class="nav justify-content-end top-nav nav-right" id="menu-not-login-top-bar">
                            <li id="nav-menu-item-100"
                                class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                                <a class="nav-link" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                                    </svg>
                                    LOGOUT
                                </a>
                            </li>
                            <li id="nav-menu-item-100"
                                class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                                <button type="button" class="tooltip-btn btn btn-secondary" data-toggle="tooltip"
                                    data-placement="bottom" title="Join or create class">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="add-icon bi bi-plus"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">
            <div class="container clearfix">

                <div class="row">
                    <div class="logo col-md-4">
                        <a href="#">
                            <img src="assets/img/logo.png" alt="" class="logo-default lazyloaded">
                        </a>
                    </div>
                    <nav class="navigation col-md-8 hidden-xs">
                        <div class="header-menu">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">How it works?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Classes</a>
                                </li>
                                <li class="nav-item menu-item-pq">
                                    <a class="nav-link" href="#">Add Post / Share</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <nav class="navigation_mobile navigation_mobile_main">
                        <div class="infocenter_mobile_click infocenter_mobile_click_close">
                            Go to ...
                        </div>
                        <ul>
                            <li>
                                <a href="#">How it works?</a>
                            </li>
                            <li>
                                <a href="#">Classes</a>
                            </li>
                            <li>
                                <a href="#">Calendar</a>
                            </li>
                            <li class="menu-item-pq">
                                <a href="#">Add post / Share</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </nav>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 row">
                        <h1 class="col-md-6">
                            Thông báo
                        </h1>
                        <div class="crumbs col-md-6">
                            <a href="home.php">Home</a>
                            <span class="crumbs-span">/</span>
                            <a href="classes.php">Classes</a>
                            <span class="crumbs-span">/</span>
                            <a href="class.php?ci=<?php echo $activeClassInfo['id'];?>">
                                Họa tranh
                            </a>
                            <span class="crumbs-span">/</span>
                            <span class="current">
                                Thông báo
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 class-tabs">
                        <div class="stream-list">
                            <div class="stream-box">
                                <div class="post-box">
                                    <div class="card post-box-card">
                                        <div class="card-header post-box-header row">
                                            <div class="card-header-left col-md-6">
                                                <img src="assets/img/avatar.png" alt="avatar" class="avatar">
                                                <div class="post-detail">
                                                    <footer class="blockquote-footer">
                                                        <small class="text-muted">
                                                            <cite title="Source Title">votuongvi2222002@gmail.com</cite>
                                                            <p>22/02/2010</p>
                                                        </small>
                                                        <p>
                                                            Due to today
                                                        </p>
                                                        <span>
                                                            10/100 points
                                                        </span>
                                                    </footer>
                                                </div>
                                            </div>
                                            <div class="card-header-right col-md-6">

                                                <div class="post-alter-icon">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-three-dots" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                                    </svg>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" data-toggle="modal"
                                                            data-target="#staticBackdrop1">
                                                            <form action="" method="post"><button type="submit"
                                                                    name="edit-post-btn">Edit post</button></form>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <form action="" method="post"><button type="submit"
                                                                    name="remove-post-btn">Remove post</button></form>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="overal-post-info-box">
                                                    <span class="reply">
                                                        <small>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-chat-square-text" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                                            </svg>
                                                            12 REPLIES
                                                        </small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Thông báo</h5>
                                            <p class="card-text">Tất cả sẽ học tập trung từ ngày 22/10 sắp tới</p>
                                            <p class="card-text">
                                                <a href="">file.txt</a><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box comment-box-list">
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item list-comment">
                                            <div class="card-header post-box-header comment-list-item-header">
                                                <img src="assets/img/avatar.png" alt="avatar" class="avatar">
                                                <div class="post-detail">
                                                    <footer class="blockquote-footer">
                                                        <small class="text-muted">
                                                            <cite title="Source Title">student@gmail.com</cite>
                                                            <p>23/2/2019</p>
                                                        </small>
                                                        <div class="list-comment-content-item">Dạ cô</div>
                                                    </footer>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-comment">
                                            <div class="card-header post-box-header comment-list-item-header">
                                                <img src="assets/img/avatar.png" alt="avatar" class="avatar">
                                                <div class="post-detail">
                                                    <footer class="blockquote-footer">
                                                        <small class="text-muted">
                                                            <cite title="Source Title">votuongvi2222002@gmail.com</cite>
                                                            <p>22/02/2014</p>
                                                        </small>
                                                        <div class="list-comment-content-item">Ok em</div>
                                                    </footer>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <form action="" method="post">
                                    <div class="comment-box comment-box-active">
                                        <img src="assets/img/avatar.png" alt="avatar" class="avatar hidden-xs">
                                        <textarea class="comment-input col-9" name="comment-content"
                                            placeholder="Comment here..." cols="1" rows="1" required></textarea>
                                        <button name="post-public-comment-btn" class="post-comment-btn col-1"
                                            type='submit'>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 sidebar">

                        <div id="questions-widget-2" class="widget questions-widget">
                            <h3 class="widget_title">Your work</h3>
                            <ul class="related-posts">
                                <li class="related-item">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        <input type="file" name='turn-in-files' class='turn-in-input'>
                                        <button type="submit" name='turn-in-btn'>Turn in</button>
                                    </form>
                                </li>
                                <li class="related-item">
                                    <a href="">file.txt</a><br>
                                </li>
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget comment-widget">
                            <h3 class="widget_title">Private Comment</h3>
                            <form action="" method="post">
                                <div class="comment-box comment-box-private comment-box-active">
                                    <textarea class="comment-input col-9" name="comment-content"
                                        placeholder="Comment here..." cols="1" rows="4" required></textarea>
                                    <button name="post-private-comment-btn" class="post-comment-btn col-1"
                                        type='submit'>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer author-info">
            <div class="contact-box">
                <h3>Contact</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        19, Nguyen Huu Tho, Tan Phong, district 7, HCM city
                    </li>
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                        </svg>
                        (84) 0123 456 78
                    </li>
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>
                        519h0098@student.tdtu.edu.vn
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>
                        519H0295@student.tdtu.edu.vn
                    </li>
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>
                        519H0252@student.tdtu.edu.vn
                    </li>
                    <li class="list-group-item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>
                        519H0274@student.tdtu.edu.vn
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <div class="copyright-pannel">Copyright 2020 by </div>
                <div class="copyright-author">
                    DeveLOVEbug <img src="assets/img/team-icon.png" alt="team-icon">
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
<script type="text/javascript" src="../assets/js/main.js"></script>