
<div class="background-cover"></div>
<div id="wrap" class="wrap-nicescroll">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                    <ul class="nav top-nav nav-left" id="menu-left-top-bar">
                        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">CALENDAR</a></li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <ul class="nav justify-content-end top-nav nav-right" id="menu-not-login-top-bar">
                        <li id="nav-menu-item-100"
                            class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                            <a class="nav-link" href="#">
                                LOGOUT
                            </a>
                        </li>
                        <li id="nav-menu-item-100"
                            class="nav-item dropdown menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>
                            </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN NAVIGATION -->
    <div id="header">
        <div class="container clearfix">

            <div class="row">
                <div class="logo col-md-4">
                    <a href="/">
                        <img src="images/logo.png" alt="" class="logo-default lazyloaded">
                    </a>
                </div>
                <nav class="navigation col-md-8 hidden-xs">
                    <div class="header-menu">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">How it works?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/noti">Notification</a>
                            </li>
                            <li class="nav-item menu-item-pq">
                                <a class="nav-link add_noti-btn" id="add_noti-btn" href="/add">Add Notification</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav class="navigation_mobile navigation_mobile_main">
                    <div class="infocenter_mobile_click infocenter_mobile_click_close">
                        Go to ...
                    </div>
                    <ul>
                        <li>
                            <a href="/about">How it works?</a>
                        </li>
                        <li>
                            <a href="">Notification</a>
                        </li>
                        <li>
                            <a href="#">Calendar</a>
                        </li>
                        <li class="menu-item-pq">
                            <a id="mobile_add_noti-btn" class="add_noti-btn" href="/add">Add Notification</a>
                        </li>
                    </ul>
                </nav>
            </div>
            </nav>
        </div>
    </div>
    <!-- BREADCRUBS NAV -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 row">
                    <h1 class="col-md-6">
                    Notification Form
                    </h1>
                    <div class="crumbs col-md-6">
                        <a href="/">Home</a>
                        <span class="crumbs-span">/</span>
                        <span class="current">Notification Form</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="q-main-content">
        <div class="container main-content">
            <div class="row">
                <div class="col-md-8">
                
                    <div class="page-template-template-ask_question page-content">
                        <div class="form-posts">
                            <form-style class="form-style form-style-3 question-submit">
                                <div class="ask_question">
                                    <form method="POST" action="" class="infocenter-q-form"
                                        enctype="multipart/form-data">
                                        <div class="infocenter_error_display display"></div>
                                        <div class="form-inputs clearfix">
                                            <p>
                                                <label for="assignment" class="required">
                                                    Title
                                                    <span>*</span>
                                                </label>
                                                <input name="title" type="text" id="assignment" class="the-title" required value>
                                                <span class="infocenter-qform-desc">Please type your assignment title here.</span>
                                            </p>
                                            <p>
                                                <label for="public-time" class="required">
                                                    Public date
                                                    <span>*</span>
                                                </label>
                                                <input name="public_time" type="datetime-local" id="public-time" class="the-title" required value >
                                                <span class="infocenter-qform-desc">Please type limit score here.</span>
                                            </p>
                                            <p>
                                                <label for="video-link" class="required">
                                                    Video links
                                                </label>
                                                <input name="video_link" type="text" id="video-link" class="the-title">
                                                <span class="infocenter-qform-desc">Please type video links here. (type ',' for seperation)</span>
                                            </p>
                                            <p>
                                                <label for="category" class="required">
                                                    Category
                                                </label>
                                                <span class="styled-select">
                                                    <select name="category" id="category" class="postform">
                                                        <option >Select a category</option>
                                                        
                                                        <option value="" class="level-0">Bai tap</option>
                                                    </select>
                                                </span>
                                                <input type="text" id="add-new-category" class="the-title" placeholder="Add new topic" value>
                                                <p class="form-submit add_category">
                                                    <button type="button" class="button color small submit add_poll_button add_category_btn">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="add-file bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                        </svg>
                                                        Add Category
                                                    </button>
                                                    <span class="infocenter-qform-desc">Please choose the correct category of your notification.</span>
                                                </p>
                                            </p>
                                            <p>
                                                <label class="required">
                                                    Limit visibility
                                                    <span>*</span>
                                                </label>
                                                <span class="styled-check styled-select" data-toggle="modal" data-target="#staticBackdrop">
                                                    Select people
                                                </span>
                                            
                                                <span class="infocenter-qform-desc">Select people who will be informed about this notification.</span>
                                            </p>
                                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Select students</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="list-group assignment-visibility student-list">
                                                                <li class="list-group-item" aria-disabled="true">
                                                                    <input class="to-check" type="checkbox" id="selectAllAss">
                                                                    <label for="selectAllAss">
                                                                        <img class="avatar" src="images/avatar.png" alt="avatar">
                                                                        All people
                                                                    </label>
                                                                </li>
                                                                
                                                                <li class="list-group-item">
                                                                    <input class="to-check" name="check_list_visibility[]" type="checkbox" id="">
                                                                    <label>
                                                                        <img class="avatar" src="images/avatar.png" alt="avatar">
                                                                        Khoa CNTT
                                                                    </label>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <input class="to-check" name="check_list_visibility[]" type="checkbox" id="">
                                                                    <label>
                                                                        <img class="avatar" src="images/avatar.png" alt="avatar">
                                                                        Khoa Khoa học ứng dụng
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn close_limit_people-btn" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn accept_limit_people-btn" id="accept_limit_people-btn">Accept</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label>Attachment</label>
                                            <div class="question-multiple-upload">
                                                <div class="clearfix"></div>
                                                <p class="form-submit add_poll">
                                                    <button type="button"
                                                        class="button color small submit add_poll_button add_upload_button_js">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="add-file bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                        </svg>
                                                        Add Field
                                                    </button>
                                                </p>
                                                
                                                <ul class="question_poll_item question_upload_item ui-sortable">
                                                    <li class='poll_li_1'>
                                                        <div class='poll-li'>
                                                            <div class='fileinputs'> 
                                                                <input type='file' class='file' name='files[]' multiple>
                                                                <div class='fakefile'> 
                                                                    <button type='button' class='button small margin_0'>Select file</button>
                                                                    <span>
                                                                        <svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-upload' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
                                                                            <path fill-rule='evenodd' d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z' />
                                                                            <path fill-rule='evenodd' d='M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z' />
                                                                        </svg>
                                                                        Browse
                                                                    </span>
                                                                </div>
                                                                <div class='del-poll-li'>
                                                                    <svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-x-square-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
                                                                        <path fill-rule='evenodd' d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z' />
                                                                    </svg> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button class="show-files-detail" type="button" id="show_file_detail-btn" ></button>
                                                        
                                                
                                                <p id="files-detail"></p>
                                                <!-- <script> var next_attachment = 1;</script> -->
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                        <div>
                                            <label for="assignment-details" class="required">
                                                Details
                                            </label>
                                            <div class="the-details the-textarea">
                                                <div id="notification-details-wrap"
                                                    class="core-ui editor-wrap html-active">
                                                    <div id="notification_details_editor-container"
                                                        class="editor-container notification_details_editor">
                                                        <div class="editor-body-container">
                                                            <div class="editor-textarea-box">
                                                                <div class="editor_title-textarea" id="editor_title-textarea">Write the description of your notification</div>
                                                                <div class="post_content_editor-textarea" id="post_content_editor-textarea" role="textbox" aria-multiline="true" contenteditable="true"></div>
                                                                <div class="content_editor_unfocus-line"></div>
                                                                <div class="content_editor_focus-line"></div>
                                                            </div>
                                                            <div class="editor-toolbar" role="toolbar">
                                                                <div role="button" class="bold-btn toolbar-btn" aria-label="Bold" tabindex="0" data-toggle="tooltip" title="Bold" aria-pressed="false" data-toggleable="" data-tooltip-position="top" data-tooltip-vertical-offset="12" data-tooltip-horizontal-offset="0">
                                                                    <div class="hidden_bold-label hidden-toolbar-label"></div>
                                                                    <span class="text_bold-label text-toolbar-label">
                                                                        <span class="toolbar-btn-icon">
                                                                            <span class="text-toolbar-btn-icon material-icon" aria-hidden="true">format_bold</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div role="button" class="italic-btn toolbar-btn" aria-label="Italic" tabindex="-1" data-toggle="tooltip" title="Italic" aria-pressed="false" data-toggleable="" data-tooltip-position="top" data-tooltip-vertical-offset="12" data-tooltip-horizontal-offset="0">
                                                                    <div class="hidden_italic-label hidden-toolbar-label"></div>
                                                                    <span class="text_italic-label text-toolbar-label">
                                                                        <span class="toolbar-btn-icon">
                                                                            <span class="text-toolbar-btn-icon material-icon" aria-hidden="true">format_italic</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div role="button" class="underline-btn toolbar-btn" aria-label="Underline" tabindex="-1" data-toggle="tooltip" title="Underline" aria-pressed="false" data-toggleable="" data-tooltip-position="top" data-tooltip-vertical-offset="12" data-tooltip-horizontal-offset="0">
                                                                    <div class="hidden_underline-label hidden-toolbar-label"></div>
                                                                    <span class="text_underline-label text-toolbar-label">
                                                                        <span class="toolbar-btn-icon">
                                                                            <span class="text-toolbar-btn-icon material-icon" aria-hidden="true">format_underlined</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div role="button" class="bulleted_list-btn toolbar-btn" aria-label="Bulleted list" tabindex="-1" data-toggle="tooltip" title="Bulleted list" aria-pressed="false" data-toggleable="" data-tooltip-position="top" data-tooltip-vertical-offset="12" data-tooltip-horizontal-offset="0">
                                                                    <div class="hidden_bulleted_list-label hidden-toolbar-label"></div>
                                                                    <span class="text_bulleted_list-label text-toolbar-label">
                                                                        <span class="toolbar-btn-icon">
                                                                            <span class="text-toolbar-btn-icon material-icon" aria-hidden="true">format_list_bulleted</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div role="button" class="remove_formatting-btn toolbar-btn" aria-label="Remove formatting" tabindex="-1" data-toggle="tooltip" title="Remove formatting" aria-pressed="false" data-toggleable="" data-tooltip-position="top" data-tooltip-vertical-offset="12" data-tooltip-horizontal-offset="0">
                                                                    <div class="hidden_remove_formatting-label hidden-toolbar-label"></div>
                                                                    <span class="text_remove_formatting-label text-toolbar-label">
                                                                        <span class="toolbar-btn-icon">
                                                                            <span class="text-toolbar-btn-icon material-icon" aria-hidden="true">format_clear</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <span class="infocenter-qform-desc">
                                                    Type your description here. <br>
                                                </span>
                                            </p>
                                        </div>
                                        
                                        <p class="form-submit">
                                            <input type="hidden" name="form_type" value="add_question">
                                            <input type="hidden" name="post_type" value="add_question">
                                            <input type="submit" name="noti_form_submit-btn" value="Publish Your Notification" class="button color small submit add_qu noti_form_submit-btn">
                                        </p>
                                    </form>
                                </div>
                            </form-style>
                        </div>
                    </div>
                        <div class="alert alert-danger" role="alert">
                            error
                        </div>
                </div>
                <div class="col-md-4 sidebar">
                    <div id="questions-widget-2" class="widget noti-widget">
                        <h3 class="widget_title">
                            <a href="/noti/khoa" class="notifications_link widget_header-link" id="notifications_link">Notices you've posted recently</a> 
                        </h3>
                        <ul class="related-posts" data-offset="0">
                            <a href="/noti/noti_title+id" class="noti_link">
                                <li class="related-item todo-list-item">
                                    <div class="notice_info-div">
                                        <div class="notice_author-div notice_info-item">
                                            <small>[Khoa Công nghệ thông tin]</small>
                                        </div>
                                        <div class="public_date-div notice_info-item">
                                            <small>22/02/2020</small>
                                        </div>
                                    </div>
                                    <div class="sidebar-box notice-item">
                                        <h3>Hướng dẫn đóng học phí</h3>
                                    </div>
                                </li>
                            </a>
                            <a href="/noti/noti_title+id" class="noti_link">
                                <li class="related-item todo-list-item">
                                    <div class="notice_info-div">
                                        <div class="notice_author-div notice_info-item">
                                            <small>[Khoa Dược]</small>
                                        </div>
                                        <div class="public_date-div notice_info-item">
                                            <small>22/02/2020</small>
                                        </div>
                                    </div>
                                    <div class="sidebar-box notice-item">
                                        <h3>Thông báo lịch thi giữa kì khóa cũ</h3>
                                    </div>
                                </li>
                            </a>
                            <a href="/noti/noti_title+id" class="noti_link">
                                <li class="related-item todo-list-item">
                                    <div class="notice_info-div">
                                        <div class="notice_author-div notice_info-item">
                                            <small>[Phòng Đại học]</small>
                                        </div>
                                        <div class="public_date-div notice_info-item">
                                            <small>22/02/2020</small>
                                        </div>
                                    </div>
                                    <div class="sidebar-box notice-item">
                                        <h3>Tạm dừng nghỉ học tại cơ sở tân phong từ ngày 20/10/2021 cho đến khi có thông báo mới</h3>
                                    </div>
                                </li>
                            </a>
                            <a href="/noti/noti_title+id" class="noti_link">
                                <li class="related-item todo-list-item">
                                    <div class="notice_info-div">
                                        <div class="notice_author-div notice_info-item">
                                            <small>[Khoa Khoa học ứng dụng]</small>
                                        </div>
                                        <div class="public_date-div notice_info-item">
                                            <small>22/02/2020</small>
                                        </div>
                                    </div>
                                    <div class="sidebar-box notice-item">
                                        <h3>Ngày hội tuyển sinh khóa 25, năm học 2021-2022</h3>
                                    </div>
                                </li>
                            </a>
                            <a href="/noti/noti_title+id" class="noti_link">
                                <li class="related-item todo-list-item">
                                    <div class="notice_info-div">
                                        <div class="notice_author-div notice_info-item">
                                            <small>[Phòng Công tác học sinh sinh viên]</small>
                                        </div>
                                        <div class="public_date-div notice_info-item">
                                            <small>22/02/2020</small>
                                        </div>
                                    </div>
                                    <div class="sidebar-box notice-item">
                                        <h3>Đăng kí kế hoạch học tập năm học 2021-2022</h3>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


