:root {
  --main-form-color: #e91e63;
  --main-btn-color: #00316b;
  --main-text-color: #fef5f8;
  --main-font-family: sans-serif;
  --main-input-color: #ccc9c9;
}
a,
a:hover {
  text-decoration: none !important;
}
svg {
  transform: translateY(-2px) !important;
}
/* p a,
li a,
a:hover,
.button.normal:hover,
span.color,
#footer a:hover,
.widget a:hover,
.question h3 a:hover,
.boxedtitle h1 a:hover,
.boxedtitle h2 a:hover,
.boxedtitle h3 a:hover,
.boxedtitle h4 a:hover,
.boxedtitle h5 a:hover,
.boxedtitle h6 a:hover,
.box_icon:hover span i,
.color_default,
.navigation_mobile > ul a:hover,
.navigation_mobile > ul li ul li:hover:before,
.post .post-meta .meta-author a:hover,
.post .post-meta .meta-categories a:hover,
.post .post-meta .meta-comment a:hover,
.question h2 a:hover,
.question-category a:hover,
.question-reply:hover i,
.question-category a:hover i,
.question-comment a:hover,
.question-comment a:hover i,
.question-reply:hover,
.post .post-meta .meta-author:hover a,
.post .post-meta .meta-author:hover i,
.post .post-meta .meta-categories:hover i,
.post .post-meta .meta-comment:hover a,
.post .post-meta .meta-comment:hover i,
.post-title a:hover,
.question-tags a,
.question .question-type,
.comment-author a:hover,
.comment-reply:hover,
.user-profile-widget li a:hover,
.taglist .tag a.delete:before,
.form-style p span.color,
.post-tags,
.post-tags a,
.related-posts li a:hover,
.related-posts li a:hover i,
#footer.footer_light_top .related-posts li a:hover,
.related-posts li a:hover i,
.share-inside,
.share-inside-warp ul li a:hover,
.user-points .question-vote-result,
.navigation > .header-menu > ul > li > a > .menu-nav-arrow,
#footer-bottom a,
.widget h3.widget_title,
#footer .related-item span,
.widget_twitter ul li:before,
#footer .widget_twitter .tweet_time a,
.widget_highest_points li h6 a,
#footer .widget_contact ul li span,
.rememberme label,
.login-text i,
.subscribe-text i,
.widget_search .search-submit,
.login-password i,
.question-tags,
.question-tags i,
.panel-pop h2,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
.panel-pop p,
.main-content .page-content .boxedtitle.page-title h2,
.fakefile button,
.login p,
.login h2,
.contact-us h2,
.share-inside i,
#related-posts h2,
.comment-reply,
.post-title,
.post-title a,
.user-profile h2,
.user-profile h2 a,
.stats-head,
.block-stats-1,
.block-stats-2,
.block-stats-3,
.block-stats-4,
.user-question h3 a,
.icon_shortcode .ul_icons li,
.testimonial-client span,
.box_icon h1,
.box_icon h2,
.box_icon h3,
.box_icon h4,
.box_icon h5,
.box_icon h6,
.widget_contact ul li i,
#footer.footer_light_top .widget a:hover,
#header .logo h2 a:hover,
.widget_tabs.tabs-warp .tabs li a,
#footer .widget .widget_highest_points a,
#footer .related-item h3 a:hover,
#footer.footer_dark .widget .widget_comments a:hover,
#footer .widget_tabs.tabs-warp .tabs li a,
.dark_skin .sidebar .widget a:hover,
.user-points h3,
.woocommerce mark,
.woocommerce .product_list_widget ins span,
.woocommerce-page .product_list_widget ins span,
ul.products li .product-details h3 a:hover,
ul.products li .product-details .price,
ul.products li .product-details h3 a:hover,
ul.products li .product-details > a:hover,
.widget.woocommerce:not(.widget_product_categories):not(.widget_layered_nav)
  ul
  li
  a:hover,
.price > .amount,
.woocommerce-page .product .woocommerce-woo-price ins span,
.cart_wrapper .widget_shopping_cart_content ul li a:hover,
.woocommerce-billing-fields > h3,
#order_review_heading,
.woocommerce .sections h2,
.yith-wcwl-share > h4,
.woocommerce .sections h3,
.woocommerce header.title h3,
.main-title > h4,
.woocommerce h2,
.box-default.woocommerce-message .button,
.woocommerce .cart .product-name a:hover,
header.title a,
.widget_search label:before,
.post .post-meta .post-view a:hover,
.post .post-meta .post-view:hover a,
.post .post-meta .post-view:hover i,
.question-author-meta a:hover,
.question-author-meta a:hover i {
  color: rgba(216, 50, 60,1);
} */
.tooltip-btn,
.tooltip-btn:hover {
  color: inherit !important;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
  background-color: inherit !important;
}
.background-cover {
  background-image: url("../images/tdtu-bg2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#wrap {
  z-index: 1;
  position: relative;
  /* overflow: hidden; */
}
.top-bar {
  background: rgba(216, 50, 60,1) none repeat scroll 0 0;
}
.top-bar ul.top-nav {
  margin: 0;
  padding: 9px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-bar ul.top-nav.nav-left > li:first-child,
.top-bar ul.top-nav.nav-right > li:first-child {
  border-left: none;
  padding-left: 0;
}

.top-bar ul.top-nav.nav-left > li,
.top-bar ul.top-nav.nav-right > li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0 0 15px !important;
}
.top-bar ul.top-nav li {
  margin: 0 15px 0 0 !important;
  padding: 0;
  position: relative;
}
.top-bar ul.top-nav li a {
  padding: 0 !important;
  display: inline-block !important;
  font-size: 12px;
  font-weight: 500;
  outline: medium none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.top-bar ul.top-nav li svg.add-icon {
  color: white;
  font-size: 20px !important;
}

.add-icon,
.close-icon {
  cursor: pointer;
}
#header {
  height: fit-content;
  position: relative;
  background-color: #fff;
}
#header .logo {
  float: left;
  line-height: 86px;
  -webkit-transition: padding 0.8s;
  -moz-transition: padding 0.8s;
  transition: padding 0.8s;
  position: relative;
  z-index: 9;
}
.navigation > .header-menu > ul li {
  float: left;
  line-height: 1;
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-top: 29px;
  margin-right: 5px;
  padding-bottom: 30px;
}
.navigation > .header-menu > ul > li > a {
  padding: 0 15px;
  color: #2f3239;
  display: block;
  position: relative;
  float: left;
  padding: 0 9px;
  text-transform: uppercase;
  line-height: 36px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.navigation > .header-menu > ul > li > a:not(.add_noti-btn):hover {
  color: rgba(11, 72, 117, .96);
  border-bottom: 2px solid rgba(216, 50, 60, .95);
}

.navigation > .header-menu > ul li.menu-item-pq,
.menu-item-pq {
  margin-top: 25px;
  padding-left: 12px;
}
li.menu-item-pq a.add_noti-btn {
  background: rgb(11, 72, 117, .9) !important;
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  padding: 6px 30px !important;
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 1px;
  border-radius: 1px;
}
li.menu-item-pq a.add_noti-btn:hover {
  background: rgb(11, 72, 117, 1) !important;
}

.navigation_mobile {
  height: 35px;
  line-height: 35px;
  position: relative;
  width: 300px;
  margin-top: 25.5px;
  margin-bottom: 10px;
  float: right;
  display: none;
}
.infocenter_mobile_click {
  border: 1px solid #ebebeb;
  padding: 0 10px;
  background-color: #f7f7f7;
  color: #2f3239;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}

.page-template-template-home .infocenter-infotex {
  margin-bottom: 10px !important;
  padding-bottom: 100px !important;
}
.infocenter-infotex {
  padding-bottom: 100px !important;
  background: none;
  backface-visibility: visible;
}
.infocenter-infotex .box_icon.box_warp.box_no_border {
  margin-bottom: 0;
  position: relative;
  z-index: 991;
}
.box_icon.box_warp.box_no_border {
  border: none;
  padding: 0;
}
.box_icon.box_warp.box_no_background {
  background-color: transparent !important;
  color: #555;
}
.box_warp,
.box_warp_colored:hover {
  background-color: #fafafa;
  color: #555;
}
.box_warp {
  padding: 20px;
}
.box_icon {
  position: relative;
  margin-bottom: 30px;
}
.box_icon h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.infocenter-infotex .col-md-12 p {
  margin-bottom: 30px !important;
}
.box_icon p {
  color: #fff;
  font-size: 18px !important;
  font-style: italic;
  line-height: 28px;
  text-align: center;
}
.infocenter-infotex .col-md-12 {
  padding-top: 120px;
  text-align: center;
  /* padding-top: 41px; */
}
.clearfix {
  clear: both;
}
form.form-style.form-style-2 {
  margin-left: 5%;
  width: 95%;
}
.infocenter-infotex .form-style-2 {
  position: relative;
}
.infocenter-infotex .col-md-12 p input {
  background-color: #fff;
  border: none;
  color: #777;
  font-size: 15px;
  resize: none;
  font-weight: 100;
  text-indent: 10px;
  line-height: 48px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 48px;
}
.form-style input,
.form-style textarea {
  display: block;
  /* width: 85%; */
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.infocenter-infotex .col-md-9 #live-search p svg,
.infocenter-infotex .col-md-12 #live-search p svg {
  position: absolute;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  top: 10px;
  right: 10px;
  color: #000;
  left: auto;
  background-color: transparent;
}
#live-search i.live-search-loading {
  font-size: 24px;
  position: absolute;
  right: 160px;
  top: 18px;
  display: none;
}
.infocenter-infotex .col-md-9 p svg,
.infocenter-infotex .col-md-12 p svg {
  position: absolute;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  background-color: #2f3239;
  top: 10px;
  left: 10px;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
.color.button.small.publish-question {
  outline: none;
  border: none;
  height: 49px;
  margin-left: 10px;
  background: rgba(216,50,60,.85);
}
.color.button.small.publish-question:hover{
  background: rgba(216,50,60,1)!important;
  font-weight: 500;
}
.infocenter-infotex .button.publish-question {
  font-size: 16px;
}
.banner {
  background-color: rgba(11, 72, 117, .65);
}
.main-content.page-full-width {
  position: relative;
  z-index: 991;
  background-color: white;
  /* padding: 20px 0; */
  min-height: 500px;
}
ul#myTab.nav-tabs {
  position: sticky;
  top: -1px;
  z-index: 99999999;
  width: 100%;
  padding: 0 40px;
  margin: 0;
  background-color: rgba(255,255,255,1);
}
ul#myTab.nav-tabs.scroll {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
ul#myTab.nav-tabs li:hover a {
  color: rgba(11,71,117,.9)!important;
}
ul#myTab.nav-tabs li a {
  color: rgba(63,63,63,.6);
}
ul#myTab.nav-tabs li a.active {
  color: rgba(11,71,117,1)!important;
}

.container-fluid {
  padding: 0!important;
}
.with-sidebar-container ul,
.with-sidebar-container ul li,
.with-sidebar-container ul li.active,
.with-sidebar-container ul li a {
  border: none !important;
  border-radius: none !important;
  color: #000;
}
.with-sidebar-container ul.tab-title li {
  text-align: center;
  padding: none !important;
  width: 25%;
}
.with-sidebar-container ul.tab-title li a {
  width: 100% !important;
  color: rgba(11, 72, 117, .75)!important;
}
.with-sidebar-container ul li a svg {
  font-size: 20px !important;
}
.with-sidebar-container ul.tab-title li a.active,
.with-sidebar-container ul.tab-title li:hover a {
  border-bottom: 3px solid rgba(216, 50, 60,1) !important ;
  color: rgba(11, 72, 117, .95)!important;
}
.post {
  margin: 20px auto;
}

.title-box {
  float: left;
  width: 70%;
}
.user-info-box {
  float: right;
  text-align: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.overal-post-info-box span small {
  padding-right: 20px;
  font-size: 10px;
}
.post-comment .title-box .overal-post-info-box span small {
  font-size: 15px !important;
  display: inline-block;
  margin-top: 13px;
}
.overal-post-info-box span small svg {
  padding-right: 3px;
  font-size: 18px !important;
}
/* .question-content,
.title,
.hagtag-list,
.assignments-list li,
.shorten-post-content,
.todo-list-item,
.todo-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assignments-list {
  font-size: 15px !important;
}
.todo-list {
  margin: 30px;
}
.todo-list-item > * {
  display: inline-block;
}
.todo-list-item span {
  width: 70% !important;
}
.todo-list-item small {
  float: right;
}
.hagtag-list {
  max-width: 20%;
  float: right;
} */
.title a h5 {
  color: black;
}
.open-icon {
  font-size: 30px;
  padding: none !important;
}
.open-icon a,
.open-icon a:hover {
  font-size: 30px;
  padding: none !important;
  color: gray !important;
}
.tab-pagination {
  margin: 40px 0 20px 0;
}
.tab-pagination ul li {
  padding: 0 10px !important;
}
.tab-pagination ul li a {
  color: #2f3239 !important;
  background-color: #e6e6e6 !important;
}
.tab-pagination ul li:hover a {
  color: rgba(216, 50, 60,1) !important;
  background-color: #f9f9f9 !important;
}
.tab-pagination ul li.active a {
  background-color: rgba(216, 50, 60,1) !important;
  color: white !important;
}
.statistical-boxs {
  background-color: rgba(37, 37, 37, .65);
  color: white;
  padding: 100px 0;
}
.statistical-boxs .statistical-box {
  margin: 20px 0;
}
.statistical-boxs .statistical-box div {
  text-align: center;
  padding-top: 5px;
}
.statistical-boxs .statistical-box span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.statistical-icon {
  font-size: 60px;
}
.statistical-content {
  font-size: 40px;
}
.statistical-object {
  font-size: 10px;
}
.author-info {
  background-color: #000;
  color: #c2c8d4;
  text-align: center;
  padding-top: 30px;
}
.author-info .contact-box ul {
  margin-left: 35%;
}
.author-info .contact-box ul li {
  background-color: black !important;
  text-align: left;
}
.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.151);
  color: gray;
  font-size: 15px;
  padding: 16px 0;
  text-align: center;
}
.copyright-pannel,
.copyright-author {
  display: inline-block;
  /* padding: 0 5px; */
}
.breadcrumbs {
  background: rgb(235, 232, 232);
  border-bottom: 1px solid #dedde1;
  border-top: 1px solid #dedde1;
}
.breadcrumbs {
  line-height: 50px;
}
.breadcrumbs .container {
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
  z-index: 991;
}
.breadcrumbs h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  color: rgba(11,71,117,.9);
  text-transform: capitalize;
}
.crumbs {
  line-height: 24px;
  padding-top: 0;
  font-size: 13px;
  text-align: right;
}
.crumbs a {
  color: rgba(216, 50, 60,1) !important;
}
.crumbs-span {
  margin: 0 5px;
}
.crumbs .current {
  color: #2f3239;
}
.instruction-box {
  background-color: white;
  padding: 100px 0;
  text-align: center;
  color: black;
  font-size: 20px;
}
.instruction-box .ins-step img {
  margin: 40px 0 20px 0;
}
.q-main-content {
  background-color: white;
}
.page-content .widget,
.widget .related-posts,
.tagcloud {
  padding: 0 !important;
  border: none;
  overflow-y: scroll;
  max-height: 250px;
  margin-right: -15px;
  margin-left: -10px;
  height: 250px;
}
.tagcloud{
  max-height: 200px;
  height: 200px;
}
.widget,
.tdtu_map,
.mapouter,
.zabuto-calendar {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.2rem;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
  color: #2f3239;
  padding: 0 20px 20px 20px;
}
.tdtu_map,
.mapouter{
  padding: 0!important;
  height: auto;
}
.mapouter iframe{
  width: 100%!important;
}
.modal-dialog.map {
  width: 90%!important;
  max-width: 90%!important;
  height: auto;
}
.map .modal-header {
  background-color: rgba(11, 72, 117, .13)
}
.sidebar h3.widget_title {
  padding: 16px !important;
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
  color: #191919 !important;
  text-transform: capitalize;
  border-left: 2px solid rgba(216, 50, 60,1);
  border-right: 2px solid rgba(216, 50, 60,1);
  margin-left: -20px !important;
  margin-right: -20px !important;
  border-bottom: 1px solid #f3f3f3 !important;
}
.sidebar h3.widget_title:hover a {
  color: rgba(216,50,60,.85);
  font-weight: 450;
  text-shadow: 1px 0px 1px rgba(63,63,63,.25);
}
.tagcloud a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e2e2e2;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 38px;
  margin: 0 10px 8px 0;
  padding: 0 17px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  color: #000 !important;
}
.topic_tag-link:hover {
  background-color: rgba(11, 72, 117, .05);
  color: rgba(11, 72, 117, .95)!important;
}
.widget a {
  color: #555;
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul li {
  position: relative;
  font-size: 14px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-right: 5px;
}
.questions-div {
  overflow: hidden;
}
.related-item h3 {
  padding-top: 2px;
  font-size: 14px !important;
  margin-bottom: 0;
}
.sidebar {
  padding-top: 40px;
}
.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ecedee;
}
/* .widget ul li:last-child,
.widget_contact ul li:last-child,
.popular_posts ul li:last-child,
.widget_contact ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidebar li:last-child,
#footer li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.related-posts li:last-child {
  margin-bottom: 50px;
} */

.sidebar .widget ul li a,
.sidebar .widget .widget_highest_points.widget_comments ul li a {
  line-height: 18px !important;
  font-size: 13px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #191919;
  text-align: justify;
}
.sidebar .widget ul li a:hover{
  color: rgba(11, 72, 117, 0.95);
}
.related-posts li a svg {
  font-size: 17px;
  font-weight: lighter;
  padding-right: 6px;
}
.form-page a {
  color: rgba(216, 50, 60,1) !important;
  font-weight: bolder;
}
body.form-page,
body {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 120vh;
}
body.form-page > img,
body > img {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.form-page .form-div,
.form-div {
  z-index: 999999999999999;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: var(--main-font-family);
  margin: 150px auto;
  color: black;
  background-color: white;
  opacity: 1;
}

.form-page .form-title {
  padding: 20px;
  color: rgba(216, 50, 60,1);
  font-weight: bolder;
}
.form-page .form-group,
.alert {
  width: 100%;
  margin: 10px 0 auto;
}
.form-page .form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  color: var(--main-input-color);
  background: none;
  width: 100%;
  margin-bottom: 10px;
}
.form-page label {
  font-weight: bolder;
}
.form-page .btn {
  background-color: black !important;
  border: none !important;
}
.form-page .form-control:focus {
  box-shadow: none;
}

.form-page .verify-box {
  padding: 20px;
}
::selection {
  background: #fa4299;
  color: #fff;
}
svg.close-icon.bi.bi-x {
  float: right;
  font-size: 30px;
}
.close-icon:hover {
  color: rgba(216, 50, 60,1);
}
.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}
.wrapper {
  z-index: 9999;
  overflow: hidden;
  max-width: 390px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
  color: rgba(216, 50, 60,1);
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border-radius: 5px;
  background-color: black;
  /* opacity: 0.7; */
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.create {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#create:checked ~ .slider-tab {
  left: 50%;
}
#create:checked ~ label.create {
  color: #fff;
  cursor: default;
  user-select: none;
  background-color: black;
}
#create:checked ~ label.join {
  color: #000;
  background-color: #999;
}
#join:checked ~ label.create {
  color: #000;
  background-color: #999;
}
#join:checked ~ label.join {
  cursor: default;
  user-select: none;
  background-color: black;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  /* height: 50px; */
  width: 100%;
  /* margin-top: 20px; */
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.form-inner form .field input:focus {
  border-color: rgba(216, 50, 60,1);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .create-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .create-link a {
  color: #fa4299;
  text-decoration: none;
}
.form-inner form .create-link a:hover {
  text-decoration: underline;
}
.form-inner .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.form-inner .btn .btn-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background: black;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.form-inner .btn:hover .btn-layer {
  left: 0;
}
.form-inner .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.page-template-template-ask_question.page-content {
  border-top: 1px solid #dedde1;
  border-bottom: 1px solid #dedde1;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.2rem;
  overflow: hidden;
  position: relative;
  padding: 30px;
  margin-top: 40px;
}
.question-submit .form-inputs p,
p.infocenter_captcha_p {
  margin-bottom: 30px;
}
.form-style-3 .form-inputs p {
  width: 100% !important;
  margin-right: 0;
  float: none;
}
.main-content p {
  font-size: 14px;
  line-height: 1.6em;
}
.form-posts .form-style label {
  width: 100%;
  margin: 0 !important;
}
.form-style label {
  color: #2f3239;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.form-style label.required span {
  margin-left: 3px;
  color: #f00;
}
.form-style p span {
  font-size: 12px;
  font-weight: normal;
  color: #848991;
}
.page-template-template-ask_question input[type="text"],
.page-template-template-ask_question input[type="number"],
.page-template-template-ask_question input[type="search"],
.page-template-template-ask_question input[type="password"],
.page-template-template-ask_question input[type="email"],
.page-template-template-ask_question input[type="datetime-local"],
.page-template-template-ask_question textarea,
.page-template-template-ask_question select {
  padding: 15px 12px;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  width: 100%;
  display: block;
  color: #2f3239;
  border: 1px solid #dedede;
  -moz-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  -webkit-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.form-style input,
.form-style textarea {
  display: block;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input.the-title,
.the-username,
.the-email,
.video_id,
.the-textarea,
.taglist .input input {
  float: left;
  width: 100%;
}
.form-posts .infocenter-qform-desc {
  width: 100%;
  display: inline-block;
}
.form-style p span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  color: #848991;
}
.modal-header{
  background-color: rgba(11,72,117, .15)
}
button.btn.close_limit_people-btn:hover{
  background-color: rgba(11,72,117, .05)
}
button.btn.accept_limit_people-btn:hover{
  background-color: rgba(11,72,117, .95);
  color: rgba(255,255,255,1);
}
button.btn.accept_limit_people-btn{
  background-color: rgba(11,72,117, .15)
}
.taglist {
  position: relative;
  overflow: hidden;
}
.taglist .tag {
  border: 1px solid #cee0ed;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #cee0ed;
  color: #191919 !important;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}
.taglist .tag span {
  font-size: 14px;
  font-style: normal;
  color: #191919 !important;
}
.taglist .tag a.delete {
  cursor: pointer;
}
.taglist .tag a.delete svg {
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #000 !important;
}
.taglist .tag span {
  font-size: 14px;
  font-style: normal;
  color: #191919 !important;
}
.styled-select {
  position: relative;
  float: none;
  clear: right;
  display: inline-block;
  width: 100%;
  margin-top: 0 !important;
  border: 1px solid #dedede;
  cursor: pointer;
  -moz-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  -webkit-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  background-color: #fff;
  overflow: hidden;
}
.styled-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-style select {
  display: block;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.styled-select select {
  border: none !important;
}
.question-multiple-upload {
  position: relative;
  margin-bottom: 20px;
}
.form-style-3 .form-inputs .question-multiple-upload p.add_poll {
  bottom: inherit;
  top: -30px;
  right: 0;
}
.show-files-detail {
  display: none;
  border: .5px solid rgba(0,0,0,.05);
  padding: 3px 10px;
  font-size: 11px;
}
.show-files-detail:hover {
  background-color: rgba(0,0,0,.1);
}
.show-files-detail:focus {
  outline: none!important;
}
#files-detail{
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  margin-top: 5px;
}
.form-style-3 .form-inputs p.add_poll {
  float: right;
  width: auto !important;
  margin: 0 !important;
  position: absolute;
  bottom: 16px;
  right: 42px;
  z-index: 9;
}
.form-style-3 .form-inputs p .add_poll_button {
  padding: 0 16px 0 8px;
  font-size: 11px;
  height: 29px;
  background: rgba(11, 72, 117, .85);
  color: #fff;
  margin: 0;
  display: inline-block;
  margin: 5px 5px 5px 0;
  border: none;
  cursor: pointer;
  text-shadow: none !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.form-style-3 .form-inputs p .add_poll_button:hover {
  background: rgba(11, 72, 117, 1);
}
.add_poll_button svg {
  margin-right: 5px;
}
.question_poll_item {
  width: 100%;
}

li.poll_li_1 {
  display: none;
}
.poll-li {
  overflow: hidden;
  position: relative;
}
.question-multiple-upload li:last-child .fileinputs {
  margin-bottom: 0;
}
.question-multiple-upload li:first-child .fileinputs {
  margin-top: 25px;
}
.question-multiple-upload .fileinputs {
  width: 100% !important;
}
.fileinputs {
  position: relative;
  float: left;
  margin-bottom: 20px;
  width: 82%;
}
.fileinputs input.file {
  padding: 14px;
}
.form-style-3 input[type="file"],
.form-style-4 input[type="file"] {
  width: auto;
  display: inline-block;
}
.fileinputs input.file {
  position: relative;
  padding: 12px;
  cursor: pointer;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  width: 100% !important;
}

input[type="file"] {
  display: block;
}
.form-style input,
.form-style textarea {
  display: block;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fakefile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.question-multiple-upload .fakefile .button.small.margin_0 {
  padding-left: 35px !important;
  color: rgba(216, 50, 60,1);
}
.fakefile button {
  cursor: pointer;
  background-color: #f3f3f3;
  border: 1px solid #dedede;
  padding: 10px;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 13px !important;
  padding: 12px 15px !important;
  height: 53px;
  font-weight: bold;
  border-radius: 2px;
}
.margin_0 {
  margin: 0 !important;
}
.button.small,
input[type="submit"] {
  font-size: 14px;
}
.question-multiple-upload .fileinputs span {
  right: 42px;
  background-color: rgba(216, 50, 60,1);
}
.fileinputs span {
  padding: 11px 10px;
  font-size: 11px;
  font-style: normal;
  position: absolute;
  top: 7px;
  right: 7px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.fileinputs span svg {
  margin-right: 5px;
  color: rgba(255,255,255,1);
}
.question-multiple-upload .del-poll-li {
  top: 11px;
}
.question-multiple-upload .move-poll-li,
.question-multiple-upload .del-poll-li {
  z-index: 111;
}
.del-poll-li {
  display: block;
  overflow: hidden;
  cursor: pointer;
  line-height: 29px;
  font-size: 14.5px;
  height: 29px;
  width: 29px;
  position: absolute;
  top: 5px;
  right: 6px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.del-poll-li svg {
  color: rgba(11,72,117, 1);
  width: 100%;
  height: 100%;
}
.del-poll-li:hover svg {
  color: rgba(0,0,0, 1);
}
.question-multiple-upload .move-poll-li {
  top: 21px;
}

.question-multiple-upload .move-poll-li,
.question-multiple-upload .del-poll-li {
  z-index: 111;
}
.editor-container textarea.editor-area {
  width: 100%;
  margin: 0;
  box-shadow: none;
}
.question-submit .form-inputs p.question_poll_p {
  margin-bottom: 20px;
  line-height: 26px;
}
.question-submit .form-inputs p.question_poll_p label,
.question-submit .form-inputs p.question_poll_p span {
  margin-top: 4px;
}
.question-submit input[type="checkbox"] {
  height: 16px;
  width: 16px !important;
  border: 1px solid #dedede;
  background-color: #f3f3f3;
  margin-top: 0;
  outline: 0 !important;
  -webkit-border-radius: 2px;
}
.form-style input[type="checkbox"] {
  outline: 0 !important;
}
.form-style input[type="checkbox"],
.form-style input[type="radio"] {
  width: auto;
  float: left;
  margin: 10px;
}
.question_poll {
  margin: 0 10px 0 0 !important;
  font-size: 13px !important;
  color: #2f3239 !important;
  font-style: normal !important;
  float: left;
}
.styled-check {
  padding: 15px 12px;
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #2f3239 !important;
}
.infocenter-qform-desc,
.question_poll_item {
  margin-left: 0;
}
.question-submit .form-inputs p.question_poll_p label,
.question-submit .form-inputs p.question_poll_p span {
  margin-top: 4px;
}
.form-submit {
  overflow: hidden;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.form-style .form-submit input.submit.noti_form_submit-btn {
  float: right;
  text-transform: uppercase;
  background-color: rgba(11,72,117,.85) !important;
  border-color: #222;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 25px;
  border-radius: 1px;
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: #fff;
  width: 40%;
  outline: none;
  border: none;
}
.form-style .form-submit input.submit:hover {
  background-color: rgba(11,72,117,1) !important;
  font-weight: 500;
}
.to-check {
  float: left;
  margin: 10px;
  outline: 0 !important;
  height: 16px;
  width: 16px !important;
  border: 1px solid #dedede;
  background-color: #f3f3f3;
  outline: 0 !important;
  -webkit-border-radius: 2px;
}
.assignment-visibility label {
  width: 100%;
  margin: 0 !important;
  color: #2f3239;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.noti-tabs a:hover {
  color: #999 !important;
}
.class-alter-icon {
  position: relative;
  cursor: pointer;
}
.class-alter-icon ul.list-group {
  position: absolute;
  top: 0;
  left: 18px;
  width: 150px !important;
  font-size: small;
  display: none;
  z-index: 1;
}
.noti-tabs {
  padding-top: 20px !important;
  min-height: 500px;
}
.add-people-icon {
  float: right;
}
.teacher-info-list h3,
.student-info-list h3 {
  float: left;
}
.add-people-icon svg:hover {
  color: rgba(216, 50, 60,1);
}
.remove-people-btn:hover {
  background-color: rgba(216, 50, 60,1) !important;
}
.stream-list {
  padding: 20px 0;
}
.stream-box {
  margin-bottom: 10px;
}
.post-box {
  background-color: #000;
}
.post-box-card.card {
  border-radius: 0 !important;
}
.card-header.post-box-header,
.card-header-left,
.card-header-right {
  display: inline-flex !important;
}
.card-header-right {
  flex-direction: row-reverse;
}
.post-detail {
  /* vertical-align: middle; */
  margin-left: 10px;
}
.comment-box {
  /* background-color: #dedede; */
  border: 1px solid #dedede;
  padding: 5px;
  text-align: center;
}
.comment-box .comment-input {
  border: 1px solid #dedede;
  padding: 6px 20px;
  /* width: 80%; */
  border-radius: 10px;
  outline: none;
  color: #2f3239;
  font-size: 13px;
  vertical-align: middle;
  font-weight: 600;
}
.comment-box .comment-input:focus {
  border: 1px solid rgba(216, 50, 60,1);
}
.comment-box-private {
  border: none !important;
  padding: 0 !important;
}
.post-comment-btn {
  /* color: white; */
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 9px;
  vertical-align: middle;
}
.post-comment-btn svg {
  width: 20px;
  height: 20px;
}
.post-comment-btn:hover svg {
  color: rgba(216, 50, 60,1);
}
.list-comment-content-item {
}
.comment-list-item-header {
  background-color: white !important;
  border: none !important;
}
.list-comment {
  /* display: flex!important; */
  text-align: left !important;
}
.noti-list {
  margin: 20px 0;
}
.noti-list .card-header{
  background-color: rgba(63,63,63,.05);
}
.noti-list .card-header button.topic-label{
  color: rgba(11,72,117, .7)!important;
  font-weight:500!important;
  width: 98%!important;
}
.noti-list .card-header:hover button.topic-label.collapsed,
.noti-list .card-header.active button.topic-label:not(.collapsed){

  color: rgba(11,72,117, 1)!important;
}
.noti-list .card-header:hover,
.noti-list .card-header.active {
  cursor: pointer;
  background-color: rgba(11,72,117,.1);
}
.shorten-post-content,
.topic-label{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-label {
  color: rgba(0,0,0,.8) !important;
  width: 70% !important;
}
.topic-label:hover {
  color: rgba(216, 50, 60,1) !important;
  text-decoration: none !important;
}
.topic-label:focus {
  box-shadow: none !important;
}
.card-header.post-box-header {
  margin: 0 !important;
}
.card-header.post-box-header .post-alter-icon {
  position: relative;
  /* float: right; */
  cursor: pointer;
  /* padding-left: 10px; */
}
.card-header.post-box-header .post-alter-icon ul {
  position: absolute;
  display: none;
  z-index: 2;
}
.post-link,
.post-link a {
  float: right;
  color: #000 !important;
  font-weight: 600;
}
.post-link:hover a {
  color: rgba(216, 50, 60,1) !important;
}
.modal-body input {
  padding: 10px 8px;
  width: 95%;
  font-size: 15px;
  border: 1px solid #dedede;
  outline: none;
  border-radius: 3px;
}
.modal-backdrop {
  display: none !important;
}
.modal-open{
  overflow: hidden;
  padding-right: 0!important;
  overflow-y: scroll!important;
}
/*------------- POST FORM------------- */
.public_date-div.notice_info-item {
  float: right;
}
.public_date-div.notice_info-item small{
  font-size: 10px;
}

.notice_author-div.notice_info-item {
  /* float: left; */
  display:inline-block;

}

li.related-item.todo-list-item:hover {
  background-color: rgba(11, 72, 117, 0.05);
  cursor: pointer;
}
li.related-item.todo-list-item:hover h3{
  color: rgba(11, 72, 117, .95);
}
.main_newfeed_content-col {
  padding-top: 40px;
}
.post_editor-container {
  min-height: 4.5rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.2rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.post_editor-btn {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 0;
  cursor: pointer;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.avatar-container {
  margin-left: 0.5rem;
  padding: 1rem;
}

.avatar-container img{
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  max-height: 75px;
  max-width: 75px;
  vertical-align: middle;
  height: 40px;
  aspect-ratio: auto 40 / 40;
  width: 40px;
}

.post_instruction-btn {
  -webkit-align-items: center;
  align-items: center;
  color: rgba(0,0,0,0.549);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.post_instruction-btn:hover {
  color: rgba(216, 50, 60, .9)
}

.post_editor-expand {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.editor-body {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 1.5rem;
  overflow-y: auto;
}

.editor-body-container {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  width: 100%;
}
.editor-container.notification_details_editor .editor-body-container {
  padding: 0;
  margin: 0;
}

.editor-textarea-box {
  background-color: #f8f9fa;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding: 24px 16px 10px 16px;
  overflow-wrap: break-word;
  position: relative;
}

.editor_title-textarea {
  top: 24px;
  color: rgb(11, 72, 117, .35);
  padding-left: 16px;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition-property: color,transform;
  transition-property: color,transform;
  -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.editor_title-textarea.focused{
  transform: scale(.75) translateX(5px) translateY(-27px);
  color: rgba(216, 50, 60, .85);
  font-size: 12px;
}
.post_content_editor-textarea {
  min-height: 6.25rem;
  margin-top: 5px;
  outline: none;
}

.content_editor_unfocus-line {
  background-color: rgba(11, 72, 117, .65);
  bottom: -41px;
  height: 1px;
  /* bottom: -2px; */
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.content_editor_focus-line {
  background-color: rgba(216, 50, 60, 1);
  bottom: -41px;
  -webkit-animation: RemoveUnderline .3s cubic-bezier(0.4,0,0.2,1);
  animation: RemoveUnderline .3s cubic-bezier(0.4,0,0.2,1);
  height: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
/*     bottom: -2px; */
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
.content_editor_focus-line.focused{
  animation: AddUnderline() .3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(1);
}
.editor-toolbar {
  background-color: #f8f9fa;
}

.toolbar-btn{
  color: #5f6368;
  height: 34px;
  opacity: 1;
  width: 36px;
  margin-top: 2px;
  opacity: 0.54;
  -webkit-transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
  transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  color: rgba(0,0,0,0.54);
  fill: rgba(0,0,0,0.54);
  -webkit-user-select: none;
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
}

.hidden-toolbar-label {
  background-image: radial-gradient(circle farthest-side,rgba(0,0,0,0.12),rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%);
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.text-toolbar-label {
  position: relative;
  top: 50%;
}

span.toolbar-btn-icon {
  top: -12px;
  display: inline-block;
  position: relative;
}

span.text-toolbar-btn-icon.material-icon, .ytb-icon{
  font-size: 1.5rem;
  -webkit-user-select: none;
  font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga' 1;
  -webkit-font-smoothing: antialiased;
}



.toolbar-btn:hover {
  color: rgba(0,0,0,0.87);
  opacity: 0.87;
}

.toolbar-btn.focused {
  color: rgba(0,0,0,0.87);
  background-color: #e0e0e0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.editor-footer {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0.5rem 0.5rem 1.5rem;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.reference_link-nav {
  margin-bottom: 1rem;
  margin-right: 1rem;
  -webkit-box-flex: 99999;
  box-flex: 99999;
  -webkit-flex-grow: 99999;
  flex-grow: 99999;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.reference_link-tabs {
  height: 3rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.reference_link-tab {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.reference_link-btn {
  color: rgba(216, 50, 60, 1);
  fill: rgba(216, 50, 60, 1);
  -webkit-user-select: none;
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 48px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  width: 48px;
  z-index: 0;
}
.reference_link-btn:hover{
  background-color: rgba(11, 72, 117, 0.09)
}

.hidden_reference-label {
  background-image: -webkit-radial-gradient(circle farthest-side,rgba(0,123,131,.16),rgba(0,123,131,.16) 80%,rgba(0,123,131,0) 100%);
  background-image: radial-gradient(circle farthest-side,rgba(0,123,131,.16),rgba(0,123,131,.16) 80%,rgba(0,123,131,0) 100%);
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}

span.reference_link-label {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

span.reference_link-label-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

span.reference_link-label-icon svg, .ytb-icon {
  fill: currentColor;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
  transform: none!important;
}

.post_action-nav {
  margin-bottom: 1rem;
  margin-right: 1rem;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.cancel_post-tab {
  margin-right: 1.5rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
  transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #5f6368;
  cursor: pointer;
  display: inline-block;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  min-width: auto;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
}
.cancel_post-tab:hover {
  background-color: rgba(11, 72, 117, .05);
}
.hiden_cancel_post-btn {
  background-image: radial-gradient(circle farthest-side,rgba(0,0,0,0.12),rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%);
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}


span.cancel_post-btn {
  padding: 0 8px;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

span.post_cancel-label {
  display: inline-block;
  margin: 0;
}

.upload_post-tab {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: rgba(11, 72, 117,0.12);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0,0,0,0.38);
  cursor: default;
  fill: rgba(0,0,0,0.38);
  -webkit-transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
  transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #5f6368;
  cursor: pointer;
  display: inline-block;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  min-width: auto;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
}
.upload_post-tab:not(.empty) {
  background-color: rgb(11, 72, 117, .9);
  color: rgba(255,255,255,1)
}
.upload_post-tab.empty:hover {
  background-color: rgba(11, 72, 117, .09);
  cursor: context-menu;
}
.upload_post-tab:not(.empty):hover {
  background-color: rgb(11, 72, 117, 1);
}
.hiden_upload_post-btn {
  background-image: radial-gradient(circle farthest-side,rgba(255,255,255,0.322),rgba(255,255,255,0.322) 80%,rgba(255,255,255,0) 100%);
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;
  -webkit-transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}

span.upload_post-btn {
  padding: 0 24px;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

span.upload_post-label {
  display: inline-block;
  margin: 0;
}

/* CALENDAR */
div.zabuto_calendar {
  margin: 0;
  padding: 0;
}
div.zabuto_calendar .table {
  width: 100%;
  margin: 0;
  padding: 0;
}
div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
  padding: 4px 2px;
  text-align: center;
}
div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
  background-color: #fff;
}
div.zabuto_calendar .table tr:last-child {
  border-bottom: 1px solid #ddd;
}
div.zabuto_calendar .table tr.calendar-month-header td {
  background-color: #fafafa;
  font-weight: bold;
}
div.zabuto_calendar .table tr.calendar-month-header td span {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 10px;
}
div.zabuto_calendar .table tr.calendar-month-header td {
  padding-top: 12px;
  padding-bottom: 4px;
}
div.zabuto_calendar .table-bordered tr.calendar-month-header td {
  border-left: 0;
  border-right: 0;
}
div.zabuto_calendar .table-bordered tr.calendar-month-header td:first-child {
  border-left: 1px solid #ddd;
}
div.zabuto_calendar div.calendar-month-navigation {
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
div.zabuto_calendar .table tr.calendar-dow-header th {
  background-color: #f0f0f0;
}
div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
  width: 14%;
}
div.zabuto_calendar .table tr td div.day {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
  background-color: #fff0c3;
}
div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
  cursor: pointer;
}
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
  background-color: #357ebd;
  color: #fff;
  text-shadow: none;
}
div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
  background-color: #ff9b08;
  color: #fff;
  text-shadow: none;
}
div.zabuto_calendar .badge-event {
  font-size: 0.95em;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}
div.zabuto_calendar div.legend {
  margin-top: 5px;
  text-align: right;
}
div.zabuto_calendar div.legend span {
  color: #999;
  font-size: 10px;
  font-weight: normal;
}
div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
  content: " ";
}
div.zabuto_calendar div.legend span.legend-spacer {
  padding-left: 25px;
}
div.zabuto_calendar ul.legend > span {
  padding-left: 2px;
}
div.zabuto_calendar ul.legend {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
div.zabuto_calendar ul.legend li {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-left: 5px;
}
div.zabuto_calendar ul.legend,
div.zabuto_calendar ul.legend li:first-child {
  margin-left: 7px;
}
div.zabuto_calendar ul.legend li:last-child {
  margin-right: 5px;
}
div.zabuto_calendar div.legend span.badge {
  font-size: 0.9em;
  border-radius: 5px 5px 5px 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}
@media (max-width: 768px) {
  .hidden-xs {
    display: none !important;
  }
  #header .logo {
    text-align: center;
  }
  #header .navigation_mobile {
    position: relative;
    margin-top: 0;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: block;
  }
  .navigation_mobile > ul {
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-top: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    z-index: 993;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navigation_mobile > ul li {
    float: none;
    padding: 0 15px;
    line-height: 33px;
    border-bottom: 1px solid #ebebeb;
    color: #2f3239;
    text-align: center;
    font-size: 14px;
  }
  .navigation_mobile > ul a {
    color: #2f3239;
    background: transparent;
  }
  .color.button.small.publish-question {
    margin: 10px 0 !important;
  }
  .tabs {
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
  }
  li.tab a span {
    display: none;
  }
  .author-info .contact-box ul {
    margin-left: 1%;
  }
  .breadcrumbs h1 {
    margin: 0;
  }
  .crumbs {
    text-align: left !important;
  }
  input.the-title,
  .the-username,
  .the-email,
  .video_id,
  .the-textarea,
  .taglist .input input,
  .form-posts .infocenter-qform-desc,
  .question_poll_item,
  .taglist,
  .form-style-5.form-style input[type="text"],
  .form-style-5.form-style input[type="email"],
  .form-style-5.form-style input[type="password"],
  .form-style-5.form-style textarea,
  .styled-select,
  .fileinputs {
    width: 100%;
    margin-left: 0;
  }
  .infocenter-qform-desc,
  .question_poll_item {
    margin-left: 0;
  }
  .form-style .form-submit input.submit {
    width: 100%;
  }
  .card-header.post-box-header .post-alter-icon ul {
    left: -300%;
    top: 25px;
  }
  .limit-time {
    float: left !important;
  }
  #blur {
    width: 100%;
  }
  .public_date-div.notice_info-item{
    display: block;
    float: none;
  }
}
@media (max-width: 979px) {
  div.zabuto_calendar .table th,
  div.zabuto_calendar .table td {
    padding: 2px 1px;
  }
}
